#server
server/node_modules
server/.DS_Store
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/pnpm-debug.log*
server/.idea
server/.vscode
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
server/*.sw?

#user
user/node_modules
user/.DS_Store
user/npm-debug.log*
user/yarn-debug.log*
user/yarn-error.log*
user/pnpm-debug.log*
user/.idea
user/.vscode
user/*.suo
user/*.ntvs*
user/*.njsproj
user/*.sln
user/*.sw?

# local env files
user/.env.local
user/.env.*.local
.env.local
.env.*.local