#eshop -> master directory
node_modules
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#api
api/node_modules
api/.DS_Store
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/pnpm-debug.log*
api/.idea
api/.vscode
api/*.suo
api/*.ntvs*
api/*.njsproj
api/*.sln
api/*.sw?

#server
server/node_modules
server/.DS_Store
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/pnpm-debug.log*
server/.idea
server/.vscode
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
server/*.sw?

#user
user/node_modules
user/.DS_Store
user/npm-debug.log*
user/yarn-debug.log*
user/yarn-error.log*
user/pnpm-debug.log*
user/.idea
user/.vscode
user/*.suo
user/*.ntvs*
user/*.njsproj
user/*.sln
user/*.sw?

# local env files
api/.env.local
api/.env.*.local
user/.env.local
user/.env.*.local
server/.env.local
server/.env.*.local
.env.local
.env.*.local