//TODO: Migrate THEME-selected colors to vuex in order to create night mode

//? Colors of the website:
$color-primary: #656a6d;
$color-primary-light: #7c8386;
$color-secondary: #f5f4ee;
$color-tertiary: #b9b7bd;
$color-quaternary: #e7d2cc;

$color-button-positive: #0989d3;
$color-button-onHover: #14d0d6;
